.img {
  width: 100vw;
  justify-content: center;
  border-radius: 15px;
  object-fit: cover;
}
.choose-div {
  width: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.floating-button {
  position: fixed;
  font-weight: bold;
  bottom: 50%;
  right: 2%;
  width: 13%;
  height: 25%;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0.65;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.backtothetop-button {
  position: fixed;
  bottom: 10%;
  left: 20px;
  border-radius: 50% ;
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  color: var(--bg);
  border: none;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
